@import '../colors.scss';

.NoticeButton-text {
  color: $GREY_FOUR;
  font-weight: 700;
}

.NoticeButton {
  background-color: $NOTICE;
  color: $GREY_FOUR;
  border: none;
  width: 100%;

  &:hover {
    background-color: $NOTICE;
    color: $GREY_FOUR;
    cursor: pointer;
    border: 1px solid $GREY_FOUR;
  }
}

.NoticeButton-inverted {
  background-color: $GREY_TWO;
  color: $GREY_FOUR;
  border: none;
  width: 100%;

  &:hover {
    background-color: $GREY_TWO;
    color: $GREY_FOUR;
    cursor: pointer;
    border: 1px solid $GREY_FOUR;
  }
}
