@import '../colors.scss';

.StoryItem-card {
  width: 320px;
  height: 320px;
}

.StoryItem-card .ant-card-meta-title {
  overflow: visible;
  overflow-wrap: normal;
  white-space: normal;
}

.StoryItem-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.StoryItem-action {
  color: $NOTICE;
  border-color: $NOTICE;
}