@import '../colors.scss';

.Home-height-full {
  height: 500px;
}

.Home-height-half {
  height: 200px;
}

.Home-content {
  height: 100%;
  margin-left: 20px;
}

.Home-container {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
}

.Home-last-container {
  height: 250px;
  margin-top: 5em;
}

.Home-last-content {
  padding-top: 5em;
  padding-bottom: 5em;
}