@import '../colors.scss';

.Home-height-full {
  height: 600px;
}

.Home-height-half {
  height: 300px;
}

.Home-content {
  padding-top: 10%;
  padding-bottom: 10%;
  height: 100%
}

.Home-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.Home-last-container {
  margin-top: 5%;
}

.Home-last-content {
  padding-top: 5%;
}